* {
    margin: 0;
    padding: 0;
}
.header {
    display: block;
    position: fixed;
    z-index: 10;
    height: 50px;
    background-color: #f0f0f5;
    top: 0;
    left: 0;
    right: 0;
    animation: header-animation;
    animation-direction: normal;
    animation-duration: 1s;
}
.header-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
}
.binary-studio-logo {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 110px;
}
.fas.fa-bell {
    display: inline-block;
    position: relative;
    color: #d1d1e0;
    opacity: 1;
    width: 24px;
    line-height: 30px;
    cursor: pointer;
}
.fas.fa-bell:hover {
    color:#c2c2d6;
}
.fas.fa-bell::before {
    width: 24px;
    line-height: 30px;
 }
.account-btn {
    display: inline-block;
    position: relative;
    border-radius: 100%;
    background-color: #ffc34d;
    color: #f0f0f5;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.account-btn:hover {
    background-color: #ffb31a;
}
.dropdown-container {
    position: relative;
    display: block;
    float: right;
    font-family: 'Didact Gothic', sans-serif;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
.account-action {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.account-name {
    color: #5c5c8a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.account-action:hover {
    background-color:  #b3b3cc;
}
.dropdown-container:hover .dropdown {
    display: block;
}
/* .page-content {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error {
    font-size: 6em;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
}
.response {
    font-size: 3em;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
}
.message {
    font-size: 1em;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
}
.action-report {
    display: flex;
    width: 250px;
    margin: 10px;
    bottom: 0;
    box-sizing: border-box;
    right: 0;
    position: absolute;
    flex-direction: column;
    font-family: 'Didact Gothic', sans-serif;
}
.action-report.red {
    background-color: #ff4d4d;
}
.action-report.green {
    background-color: #009933;
}    */

.content{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
}
.page-content{
    text-align: center;
}
.far.fa-frown{
    font-size: 7em;
}
.error {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.response {
    font-size: 1.5em;
}
.message {
    font-size: 1em;
    margin-top: 10px;
}
.notifications-container{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
}
.action-report{
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 10px;
    color: white;
    border-radius: 2px;
    transition: transform .2s;
}
.action-report:hover {
    transform: scale(1.5);
  }
.action-report.red {
    background-color: #ff4d4d;
}
.action-report.green {
    background-color: #009933;
}
.report-message{
    margin-left: 16px;
}
.fas.fa-exclamation-circle,
.fas.fa-check-circle{
    font-size: 20px;
}
.action{
    font-weight: bold;
}
.loader-container {
    font-size: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    vertical-align: top;
}
  
.loader-1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin: -25px auto 0;
    border-radius: 50%;
    background:black;
    background: -moz-linear-gradient(left,black 10%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-linear-gradient(left,black 10%, rgba(255, 255, 255, 0) 50%);
    background: -o-linear-gradient(left, black 10%, rgba(255, 255, 255, 0) 50%);
    background: -ms-linear-gradient(left, black 10%, rgba(255, 255, 255, 0) 50%);
    background: linear-gradient(to right, black 10%, rgba(255, 255, 255, 0) 50%);
    position: relative;
    -webkit-animation: loader-1 1.5s infinite linear;
    animation: loader-1 1.5s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
  
.loader-1:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    border-radius: 100% 0 0 0;
}
  
.loader-1:after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  